<div class="card shadow">

    <div class="card-body" data-id="{{this.id}}">

        <h5 class="card-title">{{this.rm_name}}<span class="text-muted"> - Dosage: {{this.rm_dosage_number}}{{this.rm_dosage_unit}}</span></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{this.rm_na}}</h6>


        <p class="card-text">{{this.rm_description}}</p>


        {{!-- <a class="btn btn-warning entry-edit">Edit</a>
        <a class="btn btn-danger entry-delete">Delete</a>
        <a class="d-none btn btn-primary entry-submit">Submit</a> --}}

        <button type="button" class="btn btn-warning view-entry" data-toggle="modal" data-target="#staticBackdrop">
            View Entry
        </button>

    </div>

</div>